RABBITMQ_URL=amqp://guest:guest@localhost:5672
RMQ_USER_QUEUE=user_queue

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RMQ_USER_QUEUE=user_queue

DB_HOST=localhost
DB_PORT=5435
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=users_db
